Assets/FullInspector2_Generated
Assets/FullInspector2_Generated.meta

# Unity generated
Temp/
Obj/
Build
Library/
ProjectSettings/
 
# IDE / Tooling
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
 
# OS generated
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
