body {
    color: #333;
    margin: 0;
    padding: 0;

    font-family: Verdana, Arial;
    font-size: 0.8em;
}

#sidebar {
    position: fixed;
    min-width: 196px;
    max-width: 220px;
    height: 100%;

    overflow-y: auto;

    margin-right: 20px;
    margin-top: 0;
    padding: 20px;

    box-shadow: 0 0 20px #CCC;
    border-right: 1px solid #BBB;
}

#sidebar h1 {
    font-size: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#sidebar h1 a:link, #sidebar h1 a:visited {
    color: #333;
}

#sidebar h2 {
    font-size: 15px;
}

#sidebar h5 {
    margin-top: 20px;
    margin-bottom: 0;
}

#sidebar a:visited, #sidebar a:link {
    color: #4682BE;
    text-decoration: none;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-top: 0;
}

#sidebar ul li:before {  /* a hack to have dashes as a list style */
    content: "-";
    position: relative;
    left: -5px;
}

#sidebar ul li {
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 10px;
    padding: 0;

    text-indent: -5px;  /* to compensate for the padding for the dash */
    /*font-size: 12px;*/
}

#content {
    float: left;
    max-width: 700px;
    /* width: 580px; */

    margin-left: 315px;
    margin-right: 55px;

    padding-top: 10px;
    padding-bottom: 10px;

    /*text-align: left;*/
    font-size: 15px;

    /*text-align: left;*/

    /*padding-right: 20px;
    box-shadow: 15px 0 20px -15px #bbb;*/

    /* border: 1px solid black; */
    /*border-right: 1px solid black;*/
}

#content pre {
    margin-left: auto;
    margin-right: auto;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;

    color: #FFF;
    background: #F8F8F8;
    border-radius: 5px;
}

#content pre code {
    padding-left: 0em;
}

#content code {
    padding-left: 5px;
    padding-right: 5px;

    color: #222;
    font-size: 14px;
    font-weight: normal;
    font-family: Consolas, monospace;

    background: #F8F8F8;
    border-radius: 2px;
}

important {
  display:block;
  background: #fff;
  padding: 40px 20px 15px 15px;
  margin: 0 0 20px;
  position: relative;

  margin-top: 20px;
  margin-bottom: 20px;

  /*Borders - (Optional)*/
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;

  /*Box Shadow - (Optional)*/
  box-shadow: 2px 2px 15px #ccc;
}

important::before{
  font-family: Georgia, serif;
  font-size: 20px;
  font-weight: bold;
  color: #CC6633;

  position: absolute;
  left: 15px;
  top: 10px;

  content: "Important";
}

important::after {
  /*Reset to make sure*/
  content: "";
}

note {
  display:block;
  background: #fff;
  padding: 35px 20px 15px 15px;
  margin: 0 0 20px;
  position: relative;

  margin-top: 20px;
  margin-bottom: 20px;

  box-shadow: 2px 2px 15px #ccc;
}

note::before{
  font-family: Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #CC6633;

  position: absolute;
  left: 15px;
  top: 10px;

  content: "Note";
}

note::after {
  /*Reset to make sure*/
  content: "";
}

indent {
    padding-left: 10px;
    display: block;
}

#content h1 {
    font-size: 2.5em;
}

#content h2 {
    padding-top: 10px;
    font-size: 1.3em;
}

#content h3 {
    padding-top: 10px;
    font-size: 1.1em;
}

#content h4 {
    padding-top: 10px;
    font-size: 1em;
}

#content hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#content img {
    max-width: 90%;
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 5px;
    /*box-shadow: 0 0 10px #ccc;*/
}

#content ul {
    display: block;
    list-style-type: none;
}

#content ul li:before {  /* a hack to have dashes as a list style */
    content: "-";
    position: relative;
    left: -5px;
}

#content ul li {
    text-indent: -5px;  /* to compensate for the padding for the dash */
    /*font-size: 13px;*/
}

#content ul li.link {
    color: #4682BE;
    text-decoration: none;
    /*font-size: 13px;*/
    font-weight: bold;
    cursor: pointer;
}

#content a:link, #content a:visited {
    color: #4682BE;
    text-decoration: none;
}

#right_wrapper {
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}

#edit {
    display: none;

    position: fixed;
    bottom: 20px;
    left: 38px;
    /*left: 775px;*/

    height: auto;
    width: 150px;

    color: #222222;
    vertical-align: middle;
    text-align: center;

    padding-top: 1px;
    padding-bottom: 3px;

    background-color: #f8f8f8;
    box-shadow: 3px 1px 3px #CCC;
}

#edit:hover {
    background-color: #ffffff;
    cursor: pointer;
}

#loading, #error {
    display: none;
    position: fixed;

    height: 17px;
    top: 45%;

    margin-left: 560px;

    font-size: 14px;
    font-weight: bold;
}

input[type=search] {
    display: block;
    width: 180px;

    text-align: left;
}

.search_results {
}

.fragments {
    margin: 0;
    padding: 10px;
}

.fragment {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    word-wrap: break-word;
}

.search_results .link {
    margin-top: 35px;
}

#content ul li {
    text-align: left;
}

#content ul .fragments li:before {
    content: "";
    position: relative;
    left: 0px;
}

#content ul li.fragment:before {
    content: "";
    margin: 0;
    padding: 0;
}

#content img.github_badges {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
}

#hide {
    display: none;
}
