#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: center;
}

.container {
  background-color: #DEDCDC;
  padding: 1em;
  margin: 1em;
  width: 500px;
}


.horizontal {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

#submit-form .text {
  height: 27px;
  flex-grow: 1;
  border-width: 1px 1px 2px 0px;
  padding: 0 0 0 5px;
  margin: 0;
}

#submit-form .button {
  height: 30px;
  width: 100px;

  border-width: 1px 1px 2px 0px;
  padding: 0;
  margin: 0;
}

#submit-form .error {
  color: #ff0000;
  margin-bottom: 0;
}

#downloads {
  display: flex;
  overflow-y: scroll;
  max-height: 250px;

  flex-direction: column;
  flex-wrap: nowrap;
}


#downloads a {
  padding: 0px;
  margin-top: 3px;
  margin-bottom: 3px;

  /*
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  */

  font-size: 18px;
}



.sk-cube-grid {
  width: 100px;
  height: 30px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #626496;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}